@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("fontawesome-all.min.css");

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
    text-align: center;
    color: #fff;
    top: -1em;
}
    #header h1 {
        font-size: 7em;
        font-weight: 900;
        letter-spacing: -0.035em;
        line-height: 1em;
        margin-bottom: 0px;
    }
    #header a {
        font-size: 1.25em;
        border-bottom: dotted 1px;
        color: inherit;
        outline: 0;
        text-decoration: none;
    }
        #header a:hover {
            border-color: transparent;
        }
.site-container {
  margin: 2rem auto;
  max-width: calc(100% - 80px);
}
.article-container {
  display: grid;
  padding: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  background: #ffffff6a;
  border-radius: 20px;
}
.article-image {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.article-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}
.article-card {
  background: #b5dced;
  border-radius: 20px;
  transition: 0.3s;
}
.article-card:hover {
  box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
  cursor: pointer;
}
.article-content {
  padding: 2rem;
}
.article-content .card-title {
  margin: 1rem 0;
  color: #22447b;
  font-size: 1.6rem;
}
.article-content .card-category {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #526583;
    display: block;
    text-decoration: none;
    margin: 0.5rem 0;
  }
.article-content .card-excerpt {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #4e5f7b;
  margin: 0;
}

#bg {
  -moz-animation: bg 60s linear infinite;
  -webkit-animation: bg 60s linear infinite;
  -ms-animation: bg 60s linear infinite;
  animation: bg 60s linear infinite;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* Set your background with this */

  background: #348cb2 url("images/bg.jpg") bottom left;
  background-repeat: repeat-x;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: -1
}

@-moz-keyframes bg {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -moz-transform: translate3d(-2250px, 0, 0);
    -webkit-transform: translate3d(-2250px, 0, 0);
    -ms-transform: translate3d(-2250px, 0, 0);
    transform: translate3d(-2250px, 0, 0);
  }
}

@-webkit-keyframes bg {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -moz-transform: translate3d(-2250px, 0, 0);
    -webkit-transform: translate3d(-2250px, 0, 0);
    -ms-transform: translate3d(-2250px, 0, 0);
    transform: translate3d(-2250px, 0, 0);
  }
}

@-ms-keyframes bg {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -moz-transform: translate3d(-2250px, 0, 0);
    -webkit-transform: translate3d(-2250px, 0, 0);
    -ms-transform: translate3d(-2250px, 0, 0);
    transform: translate3d(-2250px, 0, 0);
  }
}

@keyframes bg {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -moz-transform: translate3d(-2250px, 0, 0);
    -webkit-transform: translate3d(-2250px, 0, 0);
    -ms-transform: translate3d(-2250px, 0, 0);
    transform: translate3d(-2250px, 0, 0);
  }
}

#bg {
  background-size: 2250px auto;
  width: 6750px;
}